streamlit
beautifulsoup4
selenium
requests
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
PyPDF2
pdfplumber
fitz
dotenv
numpy
tqdm
langchain_ollama
webdriver_manager
sentence-transformers
pypdf
