streamlit
beautifulsoup4
requests
python-dotenv
tqdm
numpy
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
langchain-groq
sentence-transformers
PyPDF2
pypdf
pdfplumber
PyMuPDF==1.22.5
chromadb
protobuf==3.20.3
httpx
